<div class="list-item h-entry">

  {#  {% set header_image = page.header.header_image|defined(true) %}
    {% set header_image_width  = page.header.header_image_width|defined(900) %}
    {% set header_image_height = page.header.header_image_height|defined(300) %}
    {% set header_image_file = page.header.header_image_file %} #}

    <div class="list-blog-header">
    <span class="list-blog-date">
      <!-- <time class="dt-published" datetime="{{ page.date|date("c") }}">
          <span>{#page.date|localizeddate('full', 'none', null, app.request.locale , 'dd')#}</span> /
          <em>{#page.date|localizeddate('full', 'none', null, app.request.locale , 'M')#}</em>
      </time> -->
    </span>
        {% if page.header.link %}
            <h2 class="p-name">
                {% if page.header.continue_link is not sameas(false) %}
                <a href="{{ page.url }}"><i class="fa fa-angle-double-right u-url"></i></a>
                {% endif %}
                <a href="{{ page.header.link }}" class="u-url">{{ page.title }}</a>
            </h2>
        {% else %}
            <h2 class="p-name"><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h2>
        {% endif %}


        {% if header_image %}
            {% if header_image_file %}
                {% set header_image_media = page.media.images[header_image_file] %}
            {% else %}
                {% set header_image_media = page.media.images|first %}
            {% endif %}
            {{ header_image_media.cropZoom(header_image_width, header_image_height).html }}
        {% endif %}

    </div>

    <div class="list-blog-padding">
        <div class="e-content summary">
            {{ page.content }}
        </div>
    </div>

</div>
