<div class="gal">
    <button class="next">⇨</button>
    <button class="prev">⇦</button>
    {% for image in page.media.images %}
    <div class="gal-img">
        {{ image.html }}
    </div>
    {% endfor %}
</div>