<div class = "sidebar_container">
  <ul class = "sidebar common">
  {% include 'partials/menu.html.twig' with {'menu': 'menu2', 'p': p} %}
  {% include 'partials/sponso_reseaux.html.twig' %}
  </ul>
</div>
