{% if p.header.custom.helloasso != "" or p.header.custom.helloasso != null %}
<li>
    <a href="{{p.header.custom.helloasso}}">
    <span class="haAnim">Faire un don</span>
    </a>
</li>
{% endif %}
<li class = "search">
    {% include 'partials/simplesearch_searchbox.html.twig' %}
</li>
<li class="reseaux">
    <a href="{{p.header.custom.mastodon}}">
    <img src="{{ url('theme://images/masto.svg') }}" alt="Logo de framapiaf/Mastodon">
    </a>
    <a href="{{p.header.custom.twitter}}">
    <img src="{{ url('theme://images/tw.svg') }}" alt="Logo de Twitter">
    </a>
</li>