{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}

		<div class="blog-header">
			{{ page.content }}
		</div>

		<div class="content-wrapper blog-content-list grid">
			<div id="listing" class="block">
				{% for child in collection %}
			        {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
			   {% endfor %}
			</div>

		</div>
	{% endblock %}

{% endembed %}
