{% extends 'partials/base.html.twig' %}
{% block content %}
<h1> {{page.title}} </h1>
<div id="histoire">
  <section class="demo">
    {% include 'partials/gallery.html.twig' %}
  </section>
  {{ page.content }}
</div>
{% endblock %}
