{% embed 'partials/base.html.twig' %}
	{% block content %}
		<div class="blog-content-item grid">
			<div id="item" class="block">
			    {% include 'partials/blog_item.html.twig' with {'blog':page.parent, 'truncate':false} %}
			</div>

		</div>
	{% endblock %}
{% endembed %}
