{% extends 'partials/base.html.twig' %}

{% block content %}

{% if page.header.prog == true %}
<a class="twitter-timeline" href="https://twitter.com/jdll_lyon?ref_src=twsrc%5Etfw">Tweets by jdll_lyon</a> 
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";js.setAttribute('onload', "twttr.events.bind('rendered',function(e) {displayTweets()});");fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% set data = get_data() %}
<div class="button active" data-type="txt">
	Articles
</div>
<div class="button" data-type="tlk">
	Conférences en ligne
</div>
<div class="button" data-type="actu">
	Fil d'actualité
</div>

<input class="search_online" type="text" placeholder="Rechercher ...">

<ul class="online txt">
{% for e in data.txt %}
	{% set speaker_array = [] %}
    {% for speaker in e.speaker %}
    	{% set speaker_array = speaker_array|merge( [speaker.name] )  %}
    {% endfor %}
	
	<li>
		<div class="info_top"><h4>{{e.title}}</h4><span class="white">ꞏ</span><span class="who">{{ speaker_array|join(', ', ' et ') }}</span><span class="white arrowdown">▼</span></div>
	
		<div class="abstract">{{ e.abstract|markdown }}</div>

	</li>
{% endfor %}
</ul>

<ul class="online tlk">
{% for e in data.tlk %}
	{% set speaker_array = [] %}
    {% for speaker in e.speaker %}
    	{% set speaker_array = speaker_array|merge( [speaker.name] )  %}
    {% endfor %}
	
	<li>
		<div class="info_top"><h4>{{e.title}}</h4><span class="white">ꞏ</span><span class="who">{{ speaker_array|join(', ', ' et ') }}</span><span class="white arrowdown">▼</span></div>
		<div class="abstract">{{ e.abstract|markdown }}</div>

	</li>
{% endfor %}
</ul>

<ul class="online actu">
<div class="lds-ripple"><div></div><div></div></div>
</ul>
{% else %}
	{{ page.content }}
{% endif %}
{% endblock %}
