{% extends 'partials/base.html.twig' %}

{% block content %}

 <h1> {{page.title}} </h1>
{{page.content}}
<a>découvrir le programme des {{page.title}} (renvoie vers la prog filtrée)</a>

{% endblock %}
